<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
  <title>Nam's Giftbox Online</title>
	<style>

           html, body{ color: white; background-color: black; width:100%, height: 100%; }

  	</style>

 </head>

 <body>

<center>
  <br>
  <img src="/static/img/NGO.png" width="600"><br><br><br>
  <img src="/static/img/box.gif"><br><br>
  
  <form action="/gift/greet" method="post">
        <p>ID&nbsp; : <input type="text" name="id"></p>
	<p>PW : <input type="password" name="pw"></p>
        <br>

        <input type="image" src="/static/img/btnLogin.png" style="height:35px; border:0;margin-left:25px">
  </form>
</center>
 </body>

</html>
