<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
  <title>Nam's Giftbox Online</title>

    <style>

       html, body { color: white; background-color: black; width:100%, height: 100%; }
       

    </style>
 </head>

 <body>
  <center><br><br><img src="/static/img/oops.PNG" width="300"><br><br><br><br>
  <img src="/static/img/nopermission.png" width="600"><br><br>

  <form action="/" >
<br><br><br><br>
        <input type="image" src="/static/img/btnBack.png" height="35px">

  </form>
  
  </center>
 </body>

</html>
